In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by  import By

In [2]:
navegador = webdriver.Edge()

In [3]:
navegador.get('https://pt.wikipedia.org/wiki/Taxa_de_desemprego_no_Brasil#:~:text=O%20forte%20aumento%20do%20desemprego,%25)%20em%20setembro%20de%202020.&text=Desemprego%20desde%20mar%C3%A7o%20de%202012,vertical%20corresponde%20a%20um%20m%C3%AAs.')

In [4]:
ano_num = []
for i in range(3, 14):
    ano = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[1]/b').text
    ano_num.append(ano)
print(ano_num)

['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [5]:
df = pd.DataFrame(ano_num, columns=['ano'])

In [6]:
 jan = []
for i in range(3, 14):
    desemprego_em_jan = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[2]').text
    jan.append(desemprego_em_jan)
print(jan)

['7,3%', '6,5%', '6,9%', '9,6%', '12,7%', '12,3%', '12,2%', '11,4%', '14,5%', '11,2%', '8,4%']

In [7]:
Fev = []
for i in range(3, 14):
    desemprego_em_Fev = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[3]').text
    Fev.append(desemprego_em_Fev)
print(Fev)

['7,8%', '6,8%', '7,6%', '10,3%', '13,3%', '12,7%', '12,6%', '11,8%', '14,6%', '11,2%', '8,6%']

In [8]:
Mar = []
for i in range(3, 14):
    desemprego_em_Mar = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[4]').text
    Mar.append(desemprego_em_Mar)
print(Mar)

['8,1%', '7,2%', '8,0%', '11,1%', '13,9%', '13,2%', '12,8%', '12,4%', '14,9%', '11,1%', '8,8%']

In [9]:
Abr = []
for i in range(3, 14):
    desemprego_em_Abr = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[5]').text
    Abr.append(desemprego_em_Abr)
print(Abr)

['7,9%', '7,2%', '8,1%', '11,3%', '13,7%', '13,0%', '12,6%', '12,7%', '14,8%', '10,5%', '8,5%']

In [10]:
df['Taxa de desemprego em jan'] = jan
df['Taxa de desemprego em Fev'] = Fev
df['Taxa de desemprego em Mar'] = Mar
df['Taxa de desemprego em Abr'] = Abr
df

,ano,Taxa de desemprego em jan,Taxa de desemprego em Fev,Taxa de desemprego em Mar,Taxa de desemprego em Abr
0,2013,"7,3%","7,8%","8,1%","7,9%"
1,2014,"6,5%","6,8%","7,2%","7,2%"
2,2015,"6,9%","7,6%","8,0%","8,1%"
3,2016,"9,6%","10,3%","11,1%","11,3%"
4,2017,"12,7%","13,3%","13,9%","13,7%"
5,2018,"12,3%","12,7%","13,2%","13,0%"
6,2019,"12,2%","12,6%","12,8%","12,6%"
7,2020,"11,4%","11,8%","12,4%","12,7%"
8,2021,"14,5%","14,6%","14,9%","14,8%"
9,2022,"11,2%","11,2%","11,1%","10,5%"
10,2023,"8,4%","8,6%","8,8%","8,5%"

In [11]:
df.to_csv('../0_bases_originais/dados_originais.csv', sep=';', index=False, encoding='UTF-8')

In [12]:
df.to_json('../0_bases_originais/dados_originais.json')

In [13]:
df = df.reset_index(drop=True)

In [14]:
df.columns

Index(['ano', 'Taxa de desemprego em jan', 'Taxa de desemprego em Fev',
       'Taxa de desemprego em Mar', 'Taxa de desemprego em Abr'],
      dtype='object')

In [15]:
df = df.replace({'á':'a','ã':'a', 'â':'a', 'í':'i',
                'ÅŸ':'s',
                'Ä°':'I',
                'null':'0',
                'Ä±':'i',
                'Ã¶':'o',
                'Ã§':'c',
                'ÄŸ':'g',
                'Ã¼':'u',
                'Ã©':'e',
                'Ã¡':'a',
                'Ã³':'o',
                'Ã±':'nh',
                '&':'',
                'Ã…Ë†':'n',
                'Ã§':'c',
                'Ã­':'i',
                'Ã£':'a',
                'Ãº':'u',
                'Ã':'a',
                'Ãª':'e',
                'Ã‘':'N',
                'aÂ¢':'a',
                'aÂª':'e',
                'aÂ':'a',
                "á":"a",
                "é":"e",
                "í":"i",
                "ó":"o",
                "ú":"u",
                "ã":"a",
                "õ":"o",
                "aª":"e",
                "á":"a",
                "é":"e",
                "í":"i",
                "ó":"o",
                "ú":"u",
                "ã":"a",
                "õ":"o",
                "ê":"e",
                "â":"a",
                "ô":"o",
                "ê":"e",
                "â":"a",
                "ô":"o"}, regex=True)

In [16]:
df.to_csv('../1_bases_tratadas/dados_originais.csv', sep=';', index=False, encoding='UTF-8')

In [17]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\2303048\appdata\roaming\python\python312\site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\2303048\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\2303048\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: C:\Program Files\Python312\python.exe -m pip install --upgrade pip

In [18]:
import sqlalchemy as db
engine = db.create_engine('sqlite:///bancodedados.db', echo = True)

In [19]:
conn = engine.connect()

In [20]:
csv = '../1_bases_tratadas/dados_originais.csv'

In [21]:
df.to_sql('bancodedado.db', con=conn)

2024-05-27 21:56:06,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-27 21:56:06,142 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bancodedado.db")
2024-05-27 21:56:06,143 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-27 21:56:06,147 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bancodedado.db")
2024-05-27 21:56:06,155 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-27 21:56:06,162 INFO sqlalchemy.engine.Engine
CREATE TABLE "bancodedado.db" (
	"index" BIGINT,
	ano TEXT,
	"Taxa de desemprego em jan" TEXT,
	"Taxa de desemprego em Fev" TEXT,
	"Taxa de desemprego em Mar" TEXT,
	"Taxa de desemprego em Abr" TEXT
)


2024-05-27 21:56:06,164 INFO sqlalchemy.engine.Engine [no key 0.00210s] ()
2024-05-27 21:56:06,603 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_bancodedado.db_index" ON "bancodedado.db" ("index")
2024-05-27 21:56:06,606 INFO sqlalchemy.engine.Engine [no key 0.00312s] ()
2024-05-27 21:56:06,935 INFO sqlalchemy.engine.Engine INSERT INTO "bancodedado.db" ("index", ano, "Taxa de desemprego em jan", "Taxa de desemprego em Fev", "Taxa de desemprego em Mar", "Taxa de desemprego em Abr") VALUES (?, ?, ?, ?, ?, ?)
2024-05-27 21:56:06,941 INFO sqlalchemy.engine.Engine [generated in 0.00595s] [(0, '2013', '7,3%', '7,8%', '8,1%', '7,9%'), (1, '2014', '6,5%', '6,8%', '7,2%', '7,2%'), (2, '2015', '6,9%', '7,6%', '8,0%', '8,1%'), (3, '2016', '9,6%', '10,3%', '11,1%', '11,3%'), (4, '2017', '12,7%', '13,3%', '13,9%', '13,7%'), (5, '2018', '12,3%', '12,7%', '13,2%', '13,0%'), (6, '2019', '12,2%', '12,6%', '12,8%', '12,6%'), (7, '2020', '11,4%', '11,8%', '12,4%', '12,7%')  ... displaying 10 of 11 total bound parameter sets ...  (9, '2022', '11,2%', '11,2%', '11,1%', '10,5%'), (10, '2023', '8,4%', '8,6%', '8,8%', '8,5%')]
2024-05-27 21:56:06,947 INFO sqlalchemy.engine.Engine COMMIT

11